In [1]:
import pandas as pd

In [9]:
spreadsheet = pd.read_csv('C:/Users/SER/Desktop/FoodBalanceSheets_E_Africa_NOFLAG.csv' ,encoding = 'latin-1')
spreadsheet.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

# Question 11
The total sum of animal fat produced in 2014 and 2017 are respectively 209460.54 and 269617.53

In [22]:
spreadsheet2 = spreadsheet.groupby('Item').sum() 
print(spreadsheet2)

                     Area Code  Item Code  Element Code      Y2014      Y2015  \
Item
Alcohol, Non-Food        38447     752497       1515090    2403.00    2180.00
Alcoholic Beverages      75016    1649136       2171381  102410.11   98783.72
Animal Products          18060     397035         90990   11935.65   11811.73
Animal fats              85279    1882494       2567303  209460.54  200675.72
Apples and products      69280    1352989       1920418    9499.23   10559.15
...                        ...        ...           ...        ...        ...
Vegetables, Other        77779    1518715       2275409  155038.96  158104.08
Vegetal Products         18060     391905         90990  107145.19  107064.17
Wheat and products       87073    1639683       2654934  232670.13  234710.51
Wine                     66206    1319535       1818328    4497.36    4251.81
Yams                     50798     970905       1525745  200396.96  203151.78

                         Y2016      Y2017      Y2018
Item
Alcohol, Non-Food      2223.00    2348.00    2293.00
Alcoholic Beverages   96958.75   95581.06   97847.27
Animal Products       11661.69   11547.65   11578.61
Animal fats          183314.22  269617.53  269648.27
Apples and products    9853.26   10198.90    9640.51
...                        ...        ...        ...
Vegetables, Other    156218.90  157752.59  163987.21
Vegetal Products     106792.72  107655.20  107775.39
Wheat and products   239377.07  240047.62  242645.19
Wine                   3872.09    4178.02    4039.32
Yams                 220626.20  229174.59  221272.09

[119 rows x 8 columns]

# Question 12
#For Y2015,
#The mean is 135.236 and standard deviation is 1603.404

In [20]:
spreadsheet9 = spreadsheet.describe()
print(spreadsheet9)

          Area Code     Item Code  Element Code          Y2014          Y2015  \
count  60943.000000  60943.000000  60943.000000   59354.000000   59395.000000
mean     134.265576   2687.176706   3814.856456     134.196282     135.235966
std       72.605709    146.055739   2212.007033    1567.663696    1603.403984
min        4.000000   2501.000000    511.000000   -1796.000000   -3161.000000
25%       74.000000   2562.000000    684.000000       0.000000       0.000000
50%      136.000000   2630.000000   5142.000000       0.090000       0.080000
75%      195.000000   2775.000000   5511.000000       8.340000       8.460000
max      276.000000   2961.000000   5911.000000  176405.000000  181137.000000

               Y2016          Y2017          Y2018
count   59408.000000   59437.000000   59507.000000
mean      136.555222     140.917765     143.758381
std      1640.007194    1671.862359    1710.782658
min     -3225.000000   -1582.000000   -3396.000000
25%         0.000000       0.000000       0.000000
50%         0.080000       0.100000       0.070000
75%         8.430000       9.000000       9.000000
max    185960.000000  190873.000000  195875.000000

# Question 13
The total number and percentage of missing data in 2016 are 1535 and 2.58% respectively.

In [19]:
print(spreadsheet.isnull().sum())

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [24]:
T = 1535             #T equals to the total number of missing data in 2016
R = 59408            # From the analysis in question 12, the total count in 2016, represented by R, is 59408
Z = (T/R)*100        # Z represents the percentage of the missing data in 2016
print(Z)

2.583827093994075

# Question 14
Year 2014 has the highest correlation with Element Code

In [29]:
corr2014 = spreadsheet['Element Code'].corr(spreadsheet['Y2014'])
print('The correlation between Element Code and Y2014 is ', corr2014)
corr2015 = spreadsheet['Element Code'].corr(spreadsheet['Y2015'])
print('The correlation between Element Code and Y2015 is ', corr2015)
corr2016 = spreadsheet['Element Code'].corr(spreadsheet['Y2016'])
print('The correlation between Element Code and Y2016 is ', corr2016)
corr2017 = spreadsheet['Element Code'].corr(spreadsheet['Y2017'])
print('The correlation between Element Code and Y2017 is ', corr2017)
corr2018 = spreadsheet['Element Code'].corr(spreadsheet['Y2018'])
print('The correlation between Element Code and Y2018 is ', corr2018)

The correlation between Element Code and Y2014 is  0.024456819495221795
The correlation between Element Code and Y2015 is  0.02388919930163992
The correlation between Element Code and Y2016 is  0.023443997584961428
The correlation between Element Code and Y2017 is  0.02425400776004572
The correlation between Element Code and Y2018 is  0.02427857195351955

# Question 15
2017 has the highest sum of Import Quantity

In [30]:
spreadsheet4 = spreadsheet.groupby('Element').sum()
print(spreadsheet4)

                                        Area Code  Item Code  Element Code  \
Element
Domestic supply quantity                   708993   14197445      28068795
Export Quantity                            599910   11840553      26026133
Fat supply quantity (g/capita/day)         675050   13535000       3435732
Feed                                       176272    3538507       7282199
Food                                       663295   13285035      25406622
Food supply (kcal/capita/day)              674057   13511060       3329296
Food supply quantity (kg/capita/yr)        658446   13185401       3163725
Import Quantity                            688174   13795966      28834929
Losses                                     274353    5424803      10292107
Other uses (non-food)                      235554    4729749       8926728
Processing                                 271940    5350416      10313310
Production                                 526751   10450053      21388191
Protein supply quantity (g/capita/day)     675050   13535000       3385502
Residuals                                  623271   12421089      24066350
Seed                                       103537    2035933       4211574
Stock Variation                            571566   11329527      21464704
Total Population - Both sexes                6020     112545         22995
Tourist consumption                         50308    1486528       2869905

                                             Y2014       Y2015       Y2016  \
Element
Domestic supply quantity                1996716.35  2021493.55  2044842.70
Export Quantity                          150020.64   157614.47   151920.46
Fat supply quantity (g/capita/day)        10225.56    10235.74    10102.77
Feed                                     216927.89   225050.22   228958.65
Food                                    1212332.49  1232361.10  1247022.17
Food supply (kcal/capita/day)            454257.00   453383.00   451810.00
Food supply quantity (kg/capita/yr)       49650.63    49345.13    48985.28
Import Quantity                          274144.48   267018.46   286582.78
Losses                                   153223.00   155439.00   157787.00
Other uses (non-food)                     78718.13    66254.41    69563.68
Processing                               282923.00   287929.00   280631.00
Production                              1931287.75  1947019.39  1943537.15
Protein supply quantity (g/capita/day)    11836.46    11833.95    11779.69
Residuals                                 30149.00    30045.00    37224.00
Seed                                      21922.92    23976.82    23389.20
Stock Variation                           58749.83    34910.99    33140.12
Total Population - Both sexes           1031585.00  1058081.00  1085107.00
Tourist consumption                         416.00      349.00       89.00

                                             Y2017       Y2018
Element
Domestic supply quantity                2088198.10  2161192.10
Export Quantity                          182338.80   181594.80
Fat supply quantity (g/capita/day)        10253.84    10258.69
Feed                                     223705.68   233489.68
Food                                    1258888.28  1303841.28
Food supply (kcal/capita/day)            454681.00   455261.00
Food supply quantity (kg/capita/yr)       48690.04    49056.85
Import Quantity                          294559.09   287997.09
Losses                                   160614.00   163902.00
Other uses (non-food)                     91645.97    91300.97
Processing                               292836.00   308429.00
Production                              2030056.89  2075072.89
Protein supply quantity (g/capita/day)    11842.45    11833.56
Residuals                                 35500.00    34864.00
Seed                                      24870.14    25263.14
Stock Variation                           54316.91    20577.91
Total Population - Both sexes           1112641.00  1140605.00
Tourist consumption                          91.00       90.00

# Question 17
From the analysis performed in Question 15, Domestic supply quantity has the highest sum in 2018

In [46]:
spreadsheet9 = spreadsheet.groupby(['Element'])['Y2018'].max()
print(spreadsheet9)

Element
Domestic supply quantity                  117038.00
Export Quantity                            34641.00
Fat supply quantity (g/capita/day)            94.94
Feed                                       31567.00
Food                                       54077.00
Food supply (kcal/capita/day)               3450.00
Food supply quantity (kg/capita/yr)          443.56
Import Quantity                            18036.00
Losses                                     10355.00
Other uses (non-food)                      17221.00
Processing                                 22609.00
Production                                118172.00
Protein supply quantity (g/capita/day)       101.08
Residuals                                  17323.00
Seed                                        1474.00
Stock Variation                             2226.00
Total Population - Both sexes             195875.00
Tourist consumption                            6.00
Name: Y2018, dtype: float64

# Question 18
From the analysis performed in Question 15, Protein supply quantity (g/capital/day) has the 3rd lowest sum in 2018

# Question 19

In [41]:
spreadsheet9 = spreadsheet.groupby(['Algeria']).aggsum()
print(spreadsheet9)

KeyError: 'Algeria'

# Question 20
The total number of unique countries in the dataset is 49

In [38]:
print(spreadsheet.nunique())

Area Code         49
Area              49
Item Code        122
Item             119
Element Code      18
Element           18
Unit               5
Y2014           4493
Y2015           4520
Y2016           4520
Y2017           4537
Y2018           4591
dtype: int64